<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Hello World with CGI</h1>

<form action="../cgi-bin/hello_2.py" method="post">
    <table>
        <tr>
            <td>Enter Your Name</td>
            <td>
                <input type="text" placeholder="Enter Name" name="u_name">
            </td>
        </tr>
        <tr>
            <td>Enter Your Password</td>
            <td>
                <input type="password" placeholder="Enter Password" name="u_pwd">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login">
            </td>
        </tr>
    </table>
</form>

</body>
</html>